WcfServiceLibrary1/ConsoleApp3/Connected Services/ServiceReference1/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10001/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Dodaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val_1" type="xs:double" />
        <xs:element minOccurs="0" name="val_2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Odejmij">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val_1" type="xs:double" />
        <xs:element minOccurs="0" name="val_2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdejmijResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdejmijResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pomnoz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val_1" type="xs:double" />
        <xs:element minOccurs="0" name="val_2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PomnozResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PomnozResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sumuj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val_1" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumujResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumujResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RozwiazWielomian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaMnoznikow" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RozwiazWielomianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RozwiazWielomianResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>