WcfServiceLibrary1/ConsoleApp2/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MojKalkulator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKalkulator_Dodaj_InputMessage">
    <wsdl:part name="parameters" element="tns:Dodaj" />
  </wsdl:message>
  <wsdl:message name="IKalkulator_Dodaj_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajResponse" />
  </wsdl:message>
  <wsdl:message name="IKalkulator_Odejmij_InputMessage">
    <wsdl:part name="parameters" element="tns:Odejmij" />
  </wsdl:message>
  <wsdl:message name="IKalkulator_Odejmij_OutputMessage">
    <wsdl:part name="parameters" element="tns:OdejmijResponse" />
  </wsdl:message>
  <wsdl:message name="IKalkulator_Pomnoz_InputMessage">
    <wsdl:part name="parameters" element="tns:Pomnoz" />
  </wsdl:message>
  <wsdl:message name="IKalkulator_Pomnoz_OutputMessage">
    <wsdl:part name="parameters" element="tns:PomnozResponse" />
  </wsdl:message>
  <wsdl:portType name="IKalkulator">
    <wsdl:operation name="Dodaj">
      <wsdl:input wsaw:Action="http://tempuri.org/IKalkulator/Dodaj" message="tns:IKalkulator_Dodaj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKalkulator/DodajResponse" message="tns:IKalkulator_Dodaj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Odejmij">
      <wsdl:input wsaw:Action="http://tempuri.org/IKalkulator/Odejmij" message="tns:IKalkulator_Odejmij_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKalkulator/OdejmijResponse" message="tns:IKalkulator_Odejmij_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pomnoz">
      <wsdl:input wsaw:Action="http://tempuri.org/IKalkulator/Pomnoz" message="tns:IKalkulator_Pomnoz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKalkulator/PomnozResponse" message="tns:IKalkulator_Pomnoz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKalkulator" type="tns:IKalkulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Dodaj">
      <soap:operation soapAction="http://tempuri.org/IKalkulator/Dodaj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Odejmij">
      <soap:operation soapAction="http://tempuri.org/IKalkulator/Odejmij" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pomnoz">
      <soap:operation soapAction="http://tempuri.org/IKalkulator/Pomnoz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MojKalkulator">
    <wsdl:port name="BasicHttpBinding_IKalkulator" binding="tns:BasicHttpBinding_IKalkulator">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>